<p align="center">
  <img width="47%" src="https://github-readme-stats.vercel.app/api?username=daniyyell-dev&show_icons=true&theme=tokyonight" />
  <img width="47%" src="https://github-readme-streak-stats.herokuapp.com/?user=daniyyell-dev&theme=tokyonight" />  
</p>

<!-- GitHub Stats -->
<figure>
    <embed src="https://github-readme-stats.vercel.app/api/top-langs/?username=daniyyell-dev&layout=compact&theme=tokyonight"></embed>
</figure>
<figure>
    <embed src="https://github-readme-stats.vercel.app/api?username=daniyyell-dev&show_icons=true&theme=tokyonight"></embed>
</figure>

