<script
  async
  src="https://platform.twitter.com/widgets.js"
  charset="utf-8"
></script>

<!-- LinkedIn Share Script -->
<script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>

<div class="share-page">
  <p class="share-text">Share this on &rarr;</p>
  <a
    href="https://twitter.com/share?ref_src=twsrc%5Etfw"
    class="twitter-share-button"
    data-size="large"
    data-show-count="false"
    style="margin-top:5px;"
  >Tweet</a>
  
  <script type="IN/Share" data-url="{{site.url}}{{page.url}}"></script>
</div>
