---
layout: default
---

<div class="card">
    <div class="col-md-8 offset-md-2 offset-md-right">
        <h1>About {{ page.name }}</h1>
        <img src="{{site.url}}{{site.baseurl}}/assets/img/authors/{{ page.avatar }}" class="author-profile-img" alt="{{ page.name }}" style="width: 150px; height: 150px; border-radius: 50%;">
        <h2>{{ page.name }}</h2>
        <p>{{ page.bio }}</p>
        <p>Email: <a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
        <p>Website: <a href="{{ page.site }}">{{ page.site }}</a></p>

        <h2>Posts by this author</h2>
        {%- assign author_posts = site.posts | where: "author", page.username -%}
        <ul>
            {%- for post in author_posts -%}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {%- endfor -%}
        </ul>
    </div>
</div>
